.App {
	width: 100vw;
	height: 100vh;
	padding: 2rem;
	flex-wrap: wrap;
	gap: 1rem;
	overflow: hidden;
}

.App.debug {
	background: tomato;
}

.task {
	display: grid;
	grid-template-columns: max-content 1fr max-content;
	cursor: pointer;
	font-size: 1.5rem;
}

.task .done {
	text-decoration: line-through;
	font-weight: normal;
}

.streak {
	gap: .5rem;
	align-items: baseline;
	justify-content: space-between;
}

.point {
	color: lightblue;
	font-size: .7rem;
}

.point.dist-1 {
	font-size: 1rem;
}

.point.dist-2 {
	font-size: .9rem;
	font-weight: lighter;
}

.point.dist-3 {
	font-size: .8rem;
	font-weight: lighter;
}

.point.dist-4 {
	font-size: .7rem;
	font-weight: lighter;
}

.point.dist-0,
.point.active {
	color: #333;
	font-size: 1.1rem;
	font-weight: bolder;
}

#task-section {
	justify-content: center;
	width: 50vw;
	flex-direction: column;

}

#task-section > * {
	width: 100%;
}

.task-list {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	gap: 1rem;
	max-height: 50vh;
	overflow: scroll;
	flex: 1;
	min-width: 40rem;
	box-shadow: inset 0px 4px 5px 0px #bebebe4d;

}

#task-streaks {
	display: grid;
}

#tasks {
	display: grid;
}

.task-list-link {
	color: darkgray;
	text-decoration: none;
	padding: 1rem;
	flex: 1;
	justify-content: center;
	align-items: center;
}

.task-list-link.active {
	background: lightgray;
	color: black;
}

.task-list-link.inactive {
	/*color: lightgray;*/
}

#bank {
}

#bankInput {
	width: 6ch;
}

.action-header {
	width: 100%;
	flex-direction: column;
}

.content {
	width: 100vw;
	flex-wrap: wrap;
	height: 80vh;
	overflow: scroll;
}
